h1 { 
    color: rgb(106, 104, 99);
    font-size: 70px;
    text-align: center;
}
.title{
     text-align: center; 
    margin-top: 0; 
    padding-top: 10px; 
}

.btn1{
width: 200px;
height: 50px;
color:rgb(106, 104, 99);;
font-size: 30px;
display: block;
border: 1px solid;
border-radius:10px ;
text-align: center;
text-decoration: none;
margin-bottom: 20px;
line-height: 50px;
}
.btn1:hover{
background-color: rgb(184, 179, 179);
}

.btn2{
width: 200px;
height: 50px;
color:rgb(106, 104, 99);;
font-size: 30px;
display: block;
border: 1px solid;
border-radius:10px ;
text-align: center;
text-decoration: none;
margin-bottom: 20px;
line-height: 50px;
}
.btn2:hover{
background-color: rgb(184, 179, 179);
}

.btn3{
width: 200px;
height: 50px;
color:rgb(106, 104, 99);;
font-size: 30px;
display: block;
border: 1px solid;
border-radius:10px ;
text-align: center;
text-decoration: none;
margin-top: 20px;
line-height: 50px;
}
.btn3:hover{
background-color: rgb(184, 179, 179);
}

.avatar{
  width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #555;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}